* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 15px;
  background-color: darkslategray;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.item-enter {
  opacity: 0;
}

.item-enter.item-enter-active {
  opacity: 1;
  transition: 500ms ease-in;
}
