* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  background-color: darkslategray;
}

.app-container {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  padding: 6px 18px;
  border-radius: 4px;
  width: 600px;
  margin-top: 30px;
  background-color: white;
}

.check-list {
  list-style-type: none;
  padding-left: 16px;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}

li input {
  border: 0;
  font-size: 1rem;
}

li input:focus {
  outline: none;
}

li label {
  display: flex;
  align-items: center;
}

li input[type='checkbox'] {
  flex: none;
}

li input[type='text'] {
  margin-left: 12px;
}

.completed-items-container ul.check-list .item-text-input {
  text-decoration: line-through;
  color: gray;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: gray;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid gray;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}

.item-add-img {
  background: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE4cHgiIHdpZHRoPSIxOHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzAwMDAwMCI+CiA8cGF0aCBkPSJtMzggMjZoLTEydjEyaC00di0xMmgtMTJ2LTRoMTJ2LTEyaDR2MTJoMTJ2NHoiLz4KIDxwYXRoIGQ9Im0wIDBoNDh2NDhoLTQ4eiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K)
    no-repeat center;
  width: 13px;
  height: 13px;
  margin-bottom: 3px;
  margin-left: 4px;
  margin-right: 3px;
  margin-top: 3px;
  opacity: 0.54;
}

.hidden {
  display: none;
}
