* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 15px;
  background-color: darkslategray;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}
